*.class
target/

hs_err_pid*

.idea
*.iml

extensions/tfl-time-trigger/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst

extensions/tfl-time-trigger/target/classes/META-INF/MANIFEST.MF

extensions/tfl-time-trigger/tfl-time-trigger.iml
